server:
  port: ${SERVER_PORT}
  shutdown: graceful

spring:
  main:
    allow-circular-references: true

  application:
    name: api-gateway

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      pool-name: ApiGatewayHikariPool
      maximum-pool-size: 20          # adjust per traffic
      minimum-idle: 5
      idle-timeout: 300000           # 5 min
      max-lifetime: 1800000          # 30 min
      connection-timeout: 30000      # 30 sec
      validation-timeout: 5000
      leak-detection-threshold: 60000
      auto-commit: false

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none                 # NEVER use update/create in prod
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: UTC

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      username: ${REDIS_USERNAME:default}
      password: ${REDIS_PASSWORD}
      timeout: 5000ms
      lettuce:
        shutdown-timeout: 100ms
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 5
          max-wait: 2000ms

  cache:
    type: redis
    redis:
      time-to-live: 600000ms   # 10 min default TTL
      cache-null-values: false

  cloud:
    gateway:
      # ------------------------
      # HTTP Client Timeouts (Netty)
      # ------------------------
      httpclient:
        connect-timeout: 2000      # TCP connect timeout
        response-timeout: 5s       # Hard response timeout per request

      # ------------------------
      # Default filters for all routes
      # ------------------------
      default-filters:
        - name: RemoveRequestHeader
          args:
            name: Cookie
        - name: RemoveRequestHeader
          args:
            name: Set-Cookie     # Hard response timeout per request
      routes:
        # ------------------------
        # /authorize → POST only, high TPS
        # ------------------------
#        - id: oauth2-authorize
#          uri: http://localhost:8000
#          predicates:
#            - Path=/api/system/oauth2/authorize
#            - Method=POST
#          filters:
#            - StripPrefix=0
#            - name: CircuitBreaker
#              args:
#                name: authServiceCB
#            - name: RequestRateLimiter
#              args:
#                redis-rate-limiter.replenishRate: 5
#                redis-rate-limiter.burstCapacity: 6
#                key-resolver: "#{@clientKeyResolver}"


        # ------------------------
        # /authn → POST only, low TPS
        # ------------------------
        - id: oauth2-authn
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/authn
            - Method=POST
          filters:
            - StripPrefix=0
            - name: CircuitBreaker
              args:
                name: authServiceCB
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                key-resolver: "#{@clientKeyResolver}"

        # ------------------------
        # /token → POST only, medium TPS
        # ------------------------
        - id: oauth2-token
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/token
            - Method=POST
          filters:
            - StripPrefix=0
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 50
                key-resolver: "#{@clientKeyResolver}"

        # ------------------------
        # /callback → GET only, medium TPS
        # ------------------------
        - id: oauth2-callback
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/callback
            - Method=GET
          filters:
            - StripPrefix=0
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@clientKeyResolver}"

