server:
  port: 9090

spring:
  application:
    name: api-gateway
  datasource:
    url: jdbc:mysql://localhost:3306/api_gateway
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379
      username: default
      password: mysecret123
      lettuce:
        ssl:
          enabled: false
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 5
          max-wait: 100ms

  #SPRING CACHE SWITCH
  cache:
    type: redis   # or caffeine

  cloud:
    gateway:
      # ------------------------
      # HTTP Client Timeouts (Netty)
      # ------------------------
      httpclient:
        connect-timeout: 2000      # TCP connect timeout
        response-timeout: 5s       # Hard response timeout per request

      # ------------------------
      # Default filters for all routes
      # ------------------------
      default-filters:
        - name: RemoveRequestHeader
          args:
            name: Cookie
        - name: RemoveRequestHeader
          args:
            name: Set-Cookie     # Hard response timeout per request
      routes:
        # ------------------------
        # /authorize → POST only, high TPS
        # ------------------------
        - id: oauth2-authorize
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/authorize
            - Method=POST
          filters:
            - StripPrefix=0
            - name: CircuitBreaker
              args:
                name: authServiceCB
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 50
                redis-rate-limiter.burstCapacity: 60
                key-resolver: "#{@clientKeyResolver}"


        # ------------------------
        # /authn → POST only, low TPS
        # ------------------------
        - id: oauth2-authn
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/authn
            - Method=POST
          filters:
            - StripPrefix=0
            - name: CircuitBreaker
              args:
                name: authServiceCB
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                key-resolver: "#{@clientKeyResolver}"

        # ------------------------
        # /token → POST only, medium TPS
        # ------------------------
        - id: oauth2-token
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/token
            - Method=POST
          filters:
            - StripPrefix=0
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 20
                redis-rate-limiter.burstCapacity: 50
                key-resolver: "#{@clientKeyResolver}"

        # ------------------------
        # /callback → GET only, medium TPS
        # ------------------------
        - id: oauth2-callback
          uri: http://localhost:8000
          predicates:
            - Path=/api/system/oauth2/callback
            - Method=GET
          filters:
            - StripPrefix=0
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@clientKeyResolver}"


